@model IEnumerable<UserViewModel>

@{
    var student = TempData["Student"];
    var studentName = TempData["StudentName"];
}

<p>Սա իմ ուսանողների էջն է</p>
<p>Ուսանողի անունն է @student, new-ից եկած ուսանողի անունն է @studentName</p>

<a class="nav-link text-dark" asp-controller="Student" asp-action="New">New</a>

<a class="nav-link text-dark" asp-controller="Student" asp-action="UserPage">User</a>

<table class="table">
    <thead>
        <tr>
            <th>Անուն</th>
            <th>Տարիք</th>
            <th>Նկար</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Age</td>
                <td>
                    @if (string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <p>Նկար չկա</p>
                    }
                    else
                    {
                        <img style="width:50px" src="@item.ImageUrl" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


