@page "/counter"
@using BlazorWASM.Models

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCountOpen">Click Open</button>
<AuthorizeView>
    <Authorized>
        <button class="btn btn-primary" @onclick="IncrementCount">Click Closed</button>
    </Authorized>
    <NotAuthorized>
        <p> Խնդրում ենք մուտք կատարել այս կոճակը սեղմելու համար</p>
    </NotAuthorized>
</AuthorizeView>

<button class="btn btn-primary" @onclick="IncrementCount">Click Closed</button>
@code {
    private int currentCount = 0;

    [Inject] private IHttpClientFactory factory { get; set; } = default!;
    private async Task IncrementCountOpen()
    {
        try
        {
            var httpClient = factory.CreateClient("ServerAPI");
            var model1 = await httpClient.GetFromJsonAsync<StudentModel>("Student/open");
            Console.WriteLine(model1!.Name);
        }
        catch (Exception ex)
        {
            throw;
        }

    }

    private async Task IncrementCount()
    {
        try
        {
            var model2 = await httpClient.GetFromJsonAsync<StudentModel>("Student/private");
            Console.WriteLine(model2!.Name);
        }
        catch (Exception ex)
        {
            throw;
        }
    }
}
