@page "/"

<PageTitle>Home</PageTitle>

<button type="button" class="myButton">Success</button>
<button type="button" class="myButton2">Success2</button>
<h1>Hello, world!</h1>

<p>սեղմեք <a href="/student/Պողոս/4">այստեղ</a> ուսանողների էջ գնալու համար</p>

<MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="ButtonClick">Secondary</MudButton>

@code{

    [Inject] private NavigationManager NavigationManager { get; set; } = default!;
    private void NewMethod(string text)
    {
        Console.WriteLine(text);
    }

    private void ButtonClick()
    {
        NavigationManager.NavigateTo("/student/Պողոս/9");
    }
}