@page "/student"
@using UniversityProgram.blazor.Apis
@using UniversityProgram.blazor.Models
@inject IStudentApi StudentApi

<PageTitle>Student</PageTitle>
<h3>StudentComponent</h3>
@if (isLoading)
{
    <p>Loading..</p>
}
else if (Students.Count == 0)
{
    <p>Ուսանող չկար</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Անուն</th>
                <th>Մեյլ</th>
                <th>Գումար</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Students)
            {

                <tr>
                    <td>@student.Name</td>
                    <td>@student.Email</td>
                    <td>@student.Money</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private bool isLoading = true;
    public List<StudentModel> Students { get; set; } = new List<StudentModel>();

    override protected async Task OnInitializedAsync()
    {
        Students = (await StudentApi.GetAll()).ToList();
        isLoading = false;
    }
}